{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head_title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="vh-100">
        <h1 class="display-1 text-muted">Восстановление пароля</h1>
        <form action="{% url 'account_password_reset' %}" method="post" class="w-50 mt-5">
            {% csrf_token %}
            <div class="form-floating">
                {% render_field form.email id="email" class+="form-control" %}
                <label for="email">email</label>
            </div>

            {% if form.errors %}
                <div class="mt-3 py-2 px-3 bg-danger text-white rounded">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>
{% endblock %}
