{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head_title %}Магазин{% endblock %}

{% block content %}
    <h1 style="display: none;">eCommerce: Магазин</h1>
    <div class="row">
        <div class="col-md-3">
            <h2 class="d-none">Фильтр</h2>
            <form action="." method="get">
                <div class="input-group">
                    <input type="search" name="name" class="form-control">
                    <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
                </div>
                <div class="mt-1">
                    <h3 class="text-muted">Категория товара</h3>
                    <label class="form-check-label">
                        <input type="checkbox" name="category" value="__all__" class="form-check-input">
                        Все
                    </label>
                    <br>
                    {% for category in categories %}
                        <label class="form-check-label">
                            <input type="checkbox" name="category" value="{{ category.pk }}" class="form-check-input">
                            {{ category.name }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
                <div class="mt-1">
                    <h3 class="text-muted">Стоимость товара</h3>
                    <label for="priceRange" id="priceLabel">до {{ max_price }} &#8381;</label>
                    <input type="range" name="max_price" min="0" max="{{ max_price }}" value="{{ max_price }}" id="priceRange" class="form-range" onchange="updatePriceLabel(this.value)">
                </div>
                <div class="mt-2">
                    <h3 class="text-muted">Производители</h3>
                    <label class="form-check-label">
                        <input type="checkbox" name="manufactor" value="__all__" class="form-check-input">
                        Все
                    </label>
                    <br>
                    {% for manufactor in manufactors %}
                        <label class="form-check-label">
                            <input type="checkbox" name="manufactor" value="{{ manufactor.pk }}" class="form-check-input">
                            {{ manufactor.name }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success">Применить</button>
                </div>
            </form>
        </div>
        <div class="col">
            <h2 class="text-muted">Каталог товаров</h2>
            <hr>
            <div class="d-flex flex-column row-gap-3 align-items-center">
                {% for product in products %}
                    <div class="card w-75">
                        <div class="card-header bg-transparent text-center">
                            <img src="{{ product.images.all.first.image.url }}" alt="" height="200">
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-title fs-6">{{ product.name }}</a>
                            <p class="card-text text-truncate">{{ product.price | intcomma }} &#8381;</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-outline-warning" formaction="#" formmethod="post"><i class="bi bi-cart-check-fill"></i></button>
                            <button type="button" class="btn btn-outline-danger" formaction="#" formmethod="post"><i class="bi bi-heart-fill"></i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block end_scripts %}
    <script>
        function updatePriceLabel(new_value) {
            document.getElementById('priceLabel').innerHTML = `до ${new_value} &#8381;`;
        }
    </script>
{% endblock %}