{% extends 'base.html' %}
{% load pages_tags %}

{% block head_title %}Изрбанные товары{% endblock %}

{% block content %}
    <h1 class="display-1 text-muted">Избранные товары</h1>
    {% if favorite_products %}
        <div class="d-flex flex-column row-gap-3 align-items-center">
            {% for favorite_product in favorite_products %}
                {% get_product_card favorite_product.product 75 %}
            {% endfor %}
        </div>
    {% else %}
        <p>Кажется вы ещё не добавили ни одного товара в избранное</p>
    {% endif %}
{% endblock %}